
.service {
	background:url('http://lorempixel.com/800/600');
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width:800px;
	height:400px;
	opacity:0,2;
	filter: 0,2;
	alpha(opacity=100);
	
}

.service-h3 {
	text-align: center;
	color: #ffa31a
}

.service-descrip {
	text-align: center;
	
}

.service-slider	{
	
}

#conteneur {

	
    display: flex;
    justify-content: space-between;
    display:; inline;
    margin-right: 100px;
    min-width: 100px;
    margin-left: 100px;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.header {
	background: url("http://lorempixel.com/output/food-q-c-640-480-7.jpg")no-repeat ;
    width: 600px;
    height: 375px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}


.navigation{


  	list-style: none ;
  	text-align: center ;
}
.navigation li {

  	display: inline;	
}

.navigation li a{
	text-decoration: none;
	color: inherit;
  	color: white;
  
}


.header-h1 {
	color:white;
	text-align: center;

}
.header-h2 {

	color:white;
	text-align: center;
}
.header-view {
	text-decoration: none;
	color: inherit;
	display: inline;
	text-align: center;
	color: white;	
	border-style: solid;
<<<<<<< HEAD
	border-width: 1px;
}
=======
	border-width: 1px}
>>>>>>> 2a35dfb6243e2de33c64ec0a506563a0ffb3bb62
.categorie-h3 {
	color:#ff8080; 
	opacity:75%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	letter-spacing: 1px;
	text-align: center;
}

.categorie-p1 {
	color: #ccccb3;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}

.categorie-menu-liste li {
	display: inline;
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	text-align: center;
	padding : 5px 10px;
}

.categorie-menu-liste {
	text-align: center;
	margin-right: 40px;
}

.categorie-amuse-bouche .first-row {
	display: inline;
	display:flex;
	justify-content: space-around;
	margin-right: 300px;
	margin-left: 300px;
}


.categorie-amuse-bouche .second-row {
	display: inline;
	display:flex;
	justify-content: space-around;
	margin-right: 300px;
	margin-left: 300px;
}

.categorie-amuse-bouche p {
	font-weight: bold;
	text-align: center;
	font-size: 15px;
}

.load-more {
	display: inline;
	border-style: solid;
	border-radius: 5px;
	border-width: 2px;
	text-align: center;
	padding : 5px 10px;
}

.categorie {
	text-align: center;

}
<<<<<<< HEAD
=======

>>>>>>> 2a35dfb6243e2de33c64ec0a506563a0ffb3bb62
