
.header {
	background: url("http://lorempixel.com/output/food-q-c-640-480-7.jpg")no-repeat ;
    width: 600px;
    height: 375px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}


.navigation{


  	list-style: none ;
  	text-align: center ;
}
.navigation li {

  	display: inline;	
}

.navigation li a{
	text-decoration: none;
	color: inherit;
  	color: white;
  
}


.header-h1 {
	color:white;
	text-align: center;

}
.header-h2 {

	color:white;
	text-align: center;
}
.header-view {
	text-decoration: none;
	color: inherit;
	display: inline;
	text-align: center;
	color: white;	
	border-style: solid;
	border-width: 1px}
.categorie-h3 {
	color:#ff8080; 
	opacity:75%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	letter-spacing: 1px;
	text-align: center;
}

.categorie-p1 {
	color: #ccccb3;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}

.categorie-menu-liste li {
	display: inline;
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	text-align: center;
	padding : 5px 10px;
}

.categorie-menu-liste {
	text-align: center;
	margin-right: 40px;
}

.categorie-amuse-bouche .first-row {
	display: inline;
	display:flex;
	justify-content: space-around;
	margin-right: 300px;
	margin-left: 300px;
}


.categorie-amuse-bouche .second-row {
	display: inline;
	display:flex;
	justify-content: space-around;
	margin-right: 300px;
	margin-left: 300px;
}

.categorie-amuse-bouche p {
	font-weight: bold;
	text-align: center;
	font-size: 15px;
}

.load-more {
	display: inline;
	border-style: solid;
	border-radius: 5px;
	border-width: 2px;
	text-align: center;
	padding : 5px 10px;
}

.categorie {
	text-align: center;

}